@using ForumData.Entities
@model Persoon
@{
    ViewData["Title"] = "Home";
}

<a class="btn btn-primary" asp-controller="Account" asp-action="Index">Account</a>
@if (Model is not null && Model is Profiel)
{
    <a class="btn btn-primary" asp-controller="Bericht" asp-action="Nieuw">Nieuw bericht</a>
    <a class="btn btn-primary" asp-controller="Bericht" asp-action="Alle">Alle berichten van uw gemeente @Model.Adres.Straat.Gemeente.GemeenteNaam</a>
}