@model ForumData.Entities.Persoon
   
@{ ViewData["Title"] = "uw profiel gegevens aanpassen"; }

<h2>Persoonsgevevens wijzigen</h2>
<form asp-action="Edit" method="post">
    <label asp-for="VoorNaam"></label>
    <input asp-for="VoorNaam" />
    <label asp-for="FamilieNaam"></label>
    <input asp-for="FamilieNaam" />
    <label asp-for="Adres.Straat.StraatNaam"></label>
    <input asp-for="Adres.Straat.StraatNaam" />
    <label asp-for="Adres.HuisNr"></label>
    <input asp-for="Adres.HuisNr" />
    <label asp-for="Adres.BusNr"></label>
    <input asp-for="Adres.BusNr" />
    <label>Gemeete postcode</label>
    <label>Gemeente naam</label>
    <label asp-for="GeboorteDatum"></label>
    <input asp-for="GeboorteDatum" />
    <label asp-for="Geslacht"></label>
    <input asp-for="Geslacht" />
    <label asp-for="LoginNaam"></label>
    <input asp-for="LoginNaam" />
    <label asp-for="LoginPaswoord"></label>
    <input asp-for="LoginPaswoord" />

    <input type="submit" value="Wijzigen" />
    <div asp-validation-summary="All"></div>
</form>
