@using ForumData.Entities 
@model Persoon
@{
    ViewData["Title"] = "Account";
}
@if (Model is null)
{
    <a class="btn btn-primary" asp-controller="Account" asp-action="Inloggen">Inloggen</a>
}
else
{
    <p>@Model.Adres.Straat.StraatNaam</p>
    <a class="btn btn-primary" asp-controller="Account" asp-action="profielBeheer">Profiel beheren</a>
    <a class="btn btn-primary" asp-controller="Account" asp-action="Uitloggen">Uitloggen</a>
}