@using ForumData.Entities
@model AccountViewModel
@{
    ViewData["Title"] = "Account";
}
@if (Model.RegistrerenGelukt is not null)
{
    @if ((bool)Model.RegistrerenGelukt)
    {
        <h3 class="alert-info">Uw registratie is gelukt. U kunt inloggen na goedkeuring door onze medewerkers</h3>
    }
}
@if (Model.Gebruiker is null)
{ 
    <a class="btn btn-primary" asp-controller="Account" asp-action="Inloggen">Inloggen</a>
    <a class="btn btn-primary" asp-controller="Account" asp-action="Registreren">Registreren</a>
}
else
{
    <p>@Model.Adres.Straat.StraatNaam</p>
    <a class="btn btn-primary" asp-controller="Account" asp-action="profielBeheer">Profiel beheren</a>
    <a class="btn btn-primary" asp-controller="Account" asp-action="Uitloggen">Uitloggen</a>

    if (Model.Gebruiker is Profiel)
    {
        Profiel profiel = (Profiel)Model.Gebruiker;
        <a class="btn btn-primary" asp-controller="Account" asp-action="Interesses">Interesses</a>
    }
}