@using ForumData.Entities
@model InteressesViewModel
@{
    ViewData["Title"] = "Interesses";
}
<select id="Select" asp-items="Model.Interesses"></select>
<button id="Button" type="button">Toevoegen</button>

if (Model.ProfielInteresses is not null)
{
    <table id="Tabel">
        <tr>
            <th>Interesse</th>
            <th>Beschrijving</th>
            <th></th>
        </tr>
        @foreach (ProfielInteresse pi in Model.ProfielInteresses)
        {
            string naam = pi.Interesse.InteresseNaam;
            string rijNaam = naam + "Row";
            string imgNaam = naam + "Img";

            <tr id="@rijNaam" name="old">
                <td>@naam</td>
                <td>@pi.ProfielInteresseTekst</td>
                <td>
                    <img id="@imgNaam" src="~/img/crossIcon.svg" />
                </td>
            </tr>
        }
    </table>
}
