@using ForumData.Entities
@model IEnumerable<Profiel>
@{ 
    ViewData["Title"] = "Profiel details";
}

@foreach(var profiel in Model)
            {
                <p>@profiel.VoorNaam</p>
            }