@using ForumData.Entities
@model Profiel
@{
    ViewData["Title"] = "profiel beheer";
    var profielDetail = new ProfielDetailViewModel();
    profielDetail.PersoonId = Model.PersoonId;
    profielDetail.VoorNaam = Model.VoorNaam;
    profielDetail.FamilieNaam = Model.FamilieNaam;
    profielDetail.Adres = Model.Adres;
    profielDetail.TelefoonNr = Model.TelefoonNr;
    profielDetail.GeboorteDatum = Model.GeboorteDatum;
    profielDetail.Geslacht = Model.Geslacht;
    profielDetail.LoginNaam = Model.LoginNaam;
    profielDetail.Geblokkeerd = Model.Geblokkeerd;
    profielDetail.LoginTal = Model.LoginTal;
    profielDetail.LoginFaalTal = Model.LoginFaalTal;
    profielDetail.AdresId = Model.AdresId;
    profielDetail.TaalId = Model.TaalId;
    profielDetail.WoontHierSinds = Model.WoontHierSinds;
    profielDetail.EmailAdres = Model.EmailAdres;
    profielDetail.FacebookNaam = Model.FacebookNaam;
    profielDetail.WebsiteAdres = Model.WebsiteAdres;
    profielDetail.BeroepTekst = Model.BeroepTekst;
    profielDetail.FirmaNaam = Model.FirmaNaam;
    profielDetail.GoedkeuringTijdstip = Model.GoedkeuringTijdstip;
    profielDetail.AanmaakTijdstip = Model.AanmaakTijdstip;
    profielDetail.LaatstBijgewerkt = Model.LaatstBijgewerkt;
    profielDetail.KennismakingTekst = Model.KennismakingTekst;
    profielDetail.ProfielInteresses = Model.ProfielInteresses;
}

<p>Welkom op je profiel pagina @Model.VoorNaam @Model.FamilieNaam</p>
<p>@Model.Adres.Straat.StraatNaam</p>
<div style="display:inline-block">
    <button class="btn btn-primary" id="show-partial">Details profiel </button>
    <a class="btn btn-primary" asp-action="EditFormProfiel" method="get" asp-route-id="@Model.PersoonId">Wijzig persoonsdata</a>
</div>

<p></p>
<div style="display:none;" id="partialDetail">
   <partial name="PersoonDetail", model="profielDetail"/>
   <partial name="ProfielDetail", model="profielDetail" />
</div>



@section Scripts
{
    <script language="Javascript">
        $('#show-partial').click(function ()
        {
            var state = document.getElementById("partialDetail").style.display;
            if (state == 'block') {
                document.getElementById("partialDetail").style.display = 'none';
            } else {
                document.getElementById("partialDetail").style.display = 'block';
            }
        })
    </script>
}