@model ForumData.Entities.Profiel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>Profiel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KennismakingTekst" class="control-label"></label>
                <input asp-for="KennismakingTekst" class="form-control" />
                <span asp-validation-for="KennismakingTekst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WoontHierSinds" class="control-label"></label>
                <input asp-for="WoontHierSinds" class="form-control" />
                <span asp-validation-for="WoontHierSinds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeroepTekst" class="control-label"></label>
                <input asp-for="BeroepTekst" class="form-control" />
                <span asp-validation-for="BeroepTekst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirmaNaam" class="control-label"></label>
                <input asp-for="FirmaNaam" class="form-control" />
                <span asp-validation-for="FirmaNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteAdres" class="control-label"></label>
                <input asp-for="WebsiteAdres" class="form-control" />
                <span asp-validation-for="WebsiteAdres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacebookNaam" class="control-label"></label>
                <input asp-for="FacebookNaam" class="form-control" />
                <span asp-validation-for="FacebookNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAdres" class="control-label"></label>
                <input asp-for="EmailAdres" class="form-control" />
                <span asp-validation-for="EmailAdres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoedkeuringTijdstip" class="control-label"></label>
                <input asp-for="GoedkeuringTijdstip" class="form-control" />
                <span asp-validation-for="GoedkeuringTijdstip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AanmaakTijdstip" class="control-label"></label>
                <input asp-for="AanmaakTijdstip" class="form-control" />
                <span asp-validation-for="AanmaakTijdstip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaatstBijgewerkt" class="control-label"></label>
                <input asp-for="LaatstBijgewerkt" class="form-control" />
                <span asp-validation-for="LaatstBijgewerkt" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PersoonId" />
            <div class="form-group">
                <label asp-for="VoorNaam" class="control-label"></label>
                <input asp-for="VoorNaam" class="form-control" />
                <span asp-validation-for="VoorNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilieNaam" class="control-label"></label>
                <input asp-for="FamilieNaam" class="form-control" />
                <span asp-validation-for="FamilieNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geslacht" class="control-label"></label>
                <select asp-for="Geslacht" class="form-control"></select>
                <span asp-validation-for="Geslacht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeboorteDatum" class="control-label"></label>
                <input asp-for="GeboorteDatum" class="form-control" />
                <span asp-validation-for="GeboorteDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdresId" class="control-label"></label>
                <select asp-for="AdresId" class="form-control" asp-items="ViewBag.AdresId"></select>
                <span asp-validation-for="AdresId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeboortePlaatsId" class="control-label"></label>
                <select asp-for="GeboortePlaatsId" class="form-control" asp-items="ViewBag.GeboortePlaatsId"></select>
                <span asp-validation-for="GeboortePlaatsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefoonNr" class="control-label"></label>
                <input asp-for="TelefoonNr" class="form-control" />
                <span asp-validation-for="TelefoonNr" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Geblokkeerd" /> @Html.DisplayNameFor(model => model.Geblokkeerd)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LoginNaam" class="control-label"></label>
                <input asp-for="LoginNaam" class="form-control" />
                <span asp-validation-for="LoginNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginPaswoord" class="control-label"></label>
                <input asp-for="LoginPaswoord" class="form-control" />
                <span asp-validation-for="LoginPaswoord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginFaalTal" class="control-label"></label>
                <input asp-for="LoginFaalTal" class="form-control" />
                <span asp-validation-for="LoginFaalTal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginTal" class="control-label"></label>
                <input asp-for="LoginTal" class="form-control" />
                <span asp-validation-for="LoginTal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaalId" class="control-label"></label>
                <select asp-for="TaalId" class="form-control" asp-items="ViewBag.TaalId"></select>
                <span asp-validation-for="TaalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
