@using ForumData.Entities
@model Persoon
@if (Model is not null)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">
            @Model.VoorNaam @Model.FamilieNaam:
            @if (Model is Medewerker)
            {
                <span>Medewerker</span>
            }
            else
            {
                <span>Profiel</span>
            }
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Uitloggen">Uitloggen</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Inloggen">
            Inloggen
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Registreren">
            Registreren
        </a>
    </li>

}